*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: "Red Hat Text", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  background-image: url("../img/newyear.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: #ffc600;
  font-size: 1.6rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.countdown * {
  z-index: 1;
}

.countdown::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-color: rgba(0, 0, 0, 0.6);
}

.countdown__year {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  padding: 0;
  color: #ffc600;
  opacity: 0.2;
  font-size: 15rem;
  line-height: 1;
}

.countdown__title {
  margin: -50px 0 30px;
  font-size: 2.8rem;
}

.countdown__data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.countdown__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  margin: 10px;
}

.countdown__time h2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0;
  font-size: 3rem;
  text-align: center;
}

.countdown__time small {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 10px;
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
}

@media (min-width: 640px) {
  .countdown__title {
    margin: -60px 0 30px;
    font-size: 4rem;
  }
  .countdown__data-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .countdown__time {
    display: block;
    width: auto;
    margin: 0 10px;
  }
  .countdown__time h2 {
    margin: 0 0 5px;
    font-size: 3rem;
  }
  .countdown__time small {
    margin-left: 0;
    font-size: 2rem;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .countdown__title {
    margin: -100px 0 30px;
    font-size: 5rem;
  }
  .countdown__time {
    margin: 0 15px;
  }
  .countdown__time h2 {
    margin: 0 0 5px;
    font-size: 4rem;
  }
  .countdown__time small {
    font-size: 2rem;
    font-weight: 500;
  }
  .year {
    font-size: 15rem;
  }
}

@media (min-width: 1024px) {
  .countdown__title {
    margin: -50px 0 30px;
    font-size: 8rem;
  }
  .countdown__time {
    margin: 0 20px;
  }
  .countdown__time h2 {
    margin: 0 0 5px;
    font-size: 5rem;
  }
  .countdown__time small {
    font-size: 2.4rem;
    font-weight: 500;
  }
  .countdown__year {
    font-size: 20rem;
  }
}
/*# sourceMappingURL=main.css.map */