.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url('../img/newyear.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: $custom-yellow;
  font-size: 1.6rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-background;
  }
}

.countdown__year {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  color: $custom-yellow;
  opacity: 0.2;
  font-size: 15rem;
  line-height: 1;
}

.countdown__title {
  margin: -50px 0 30px;
  font-size: 2.8rem;
}

.countdown__data-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.countdown__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin: 10px;

  h2 {
    flex-basis: 50%;
    margin: 0;
    font-size: 3rem;
    text-align: center;
  }

  small {
    flex-basis: 50%;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
  }
}

@media (min-width: 640px) {
  .countdown__title {
    margin: -60px 0 30px;
    font-size: 4rem;
  }

  .countdown__data-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .countdown__time {
    display: block;
    width: auto;
    margin: 0 10px;

    h2 {
      margin: 0 0 5px;
      font-size: 3rem;
    }

    small {
      margin-left: 0;
      font-size: 2rem;
      font-weight: 500;
    }
  }
}

@media (min-width: 768px) {
  .countdown__title {
    margin: -100px 0 30px;
    font-size: 5rem;
  }

  .countdown__time {
    margin: 0 15px;

    h2 {
      margin: 0 0 5px;
      font-size: 4rem;
    }

    small {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  .year {
    font-size: 15rem;
  }
}

@media (min-width: 1024px) {
  .countdown__title {
    margin: -50px 0 30px;
    font-size: 8rem;
  }

  .countdown__time {
    margin: 0 20px;

    h2 {
      margin: 0 0 5px;
      font-size: 5rem;
    }

    small {
      font-size: 2.4rem;
      font-weight: 500;
    }
  }

  .countdown__year {
    font-size: 20rem;
  }
}
